# 数据读取与处理

In [3]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [4]:
path = 'D:\\Users\\Administrator\\Downloads\\all.json'
pf = pd.read_json(path)
pf.count

ValueError: Expected object or value

In [2]:
def printdata(path):
    with open(path) as f:
        lines = f.readlines()
    for line in lines:    
        print(line)

In [3]:
%pwd

'D:\\WorkSpace\\vital\\notebook\\learn more study less\\1 Acquire\\python\\data analysis'

## CSV 与 TXT

### read_csv

In [4]:
path1 = 'data/lesson-4/data1.csv'
printdata(path1)

a,b,c,d,message

1,2,3,4,hello

5,6,7,8,world

9,10,11,12,foo

In [5]:
df = pd.read_csv(path1)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
df = pd.read_table(path1, sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
path2 = 'data/lesson-4/data2.csv'
printdata(path2)

1,2,3,4,hello

5,6,7,8,world

9,10,11,12,foo

In [8]:
pd.read_csv(path2, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
pd.read_csv(path2, names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
names = ['a','b','c','d','message']
pd.read_csv(path2, names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
path_mindex = 'data/lesson-4/csv_mindex.csv'
printdata(path_mindex)

key1,key2,value1,value2

one,a,1,2

one,b,3,4

one,c,5,6

one,d,7,8

two,a,9,10

two,b,11,12

two,c,13,14

two,d,15,16

In [12]:
parsed = pd.read_csv(path_mindex, index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
path3 = 'data/lesson-4/data3.txt'
list(open('data/lesson-4/data3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [14]:
result = pd.read_csv(path3, sep= '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [15]:
path4 = 'data/lesson-4/data4.csv'
printdata(path4)

# hey!

a,b,c,d,message

# just wanted to make things more difficult for you

# who reads CSV files with computers, anyway?

1,2,3,4,hello

5,6,7,8,world

9,10,11,12,foo

In [16]:
pd.read_csv(path4, skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
path5= 'data/lesson-4/data5.csv'
printdata(path5)

something,a,b,c,d,message

one,1,2,3,4,NA

two,5,6,,8,world

three,9,10,11,12,foo

In [18]:
result = pd.read_csv(path5)
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [19]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [20]:
result = pd.read_csv(path5, na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
# 哨兵
sentinels = {'message':['foo', 'NA'], 'something': ['two']}
pd.read_csv(path5, na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 分片/块读取

In [22]:
path6 = 'data/lesson-4/data6.csv'
result = pd.read_csv(path6)
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [23]:
tot = pd.read_csv(path6, nrows=10)
tot

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [24]:
# 分块
chunker = pd.read_csv(path6, chunksize = 100)
chunker

In [25]:
chunker = pd.read_csv(path6, chunksize = 100)
# 统计每个 key 出现的次数
tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
  
tot = tot.sort_values(ascending=False)
tot[:10]

<ipython-input-25-a54fc2371a8b>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = Series([])

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [26]:
# add
a = Series({'a':1, 'b':2, 'd':0})
b = Series({'a':1, 'b':1, 'c':1})
a.add(b, fill_value=0)

a    2.0
b    3.0
c    1.0
d    0.0
dtype: float64

In [27]:
# value_counts()
c = Series({'a':1, 'b':2, 'b':1})

print(c.value_counts())
c

1    2
dtype: int64

a    1
b    1
dtype: int64

In [28]:
s = pd.Series([np.nan, 1, 3, 10, 5])
s

0     NaN
1     1.0
2     3.0
3    10.0
4     5.0
dtype: float64

In [29]:
s.sort_values(ascending=True)

1     1.0
2     3.0
4     5.0
3    10.0
0     NaN
dtype: float64

### 写入文本

In [30]:
data = pd.read_csv(path5)
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
path_out = 'data/lesson-4/out.csv'
data.to_csv(path_out)
printdata(path_out)

,something,a,b,c,d,message

0,one,1,2,3.0,4,

1,two,5,6,,8,world

2,three,9,10,11.0,12,foo

In [32]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [33]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [34]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [35]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [36]:
dates = pd.date_range('1/1/2000', periods=7)
ts = Series(np.arange(7), index=dates)
path_ts = 'data/lesson-4/tsseries.csv'
ts.to_csv(path_ts)
printdata(path_ts)

,0

2000-01-01,0

2000-01-02,1

2000-01-03,2

2000-01-04,3

2000-01-05,4

2000-01-06,5

2000-01-07,6

In [41]:
pd.read_csv(path_ts, parse_dates=True)

   Unnamed: 0  0
0  2000-01-01  0
1  2000-01-02  1
2  2000-01-03  2
3  2000-01-04  3
4  2000-01-05  4
5  2000-01-06  5
6  2000-01-07  6

### 手动写入数据

In [40]:
path7 = 'data/lesson-4/data7.csv'
printdata(path7)

"a","b","c"

"1","2","3"

"1","2","3","4"

In [42]:
import csv
f = open(path7)
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [43]:
lines = list(csv.reader(open(path7)))
header, values = lines[0], lines[1:]
# 函数用于将可迭代的对象作为参数，将对象中对应的元素打包成一个个元组，然后返回由这些元组组成的列表
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [44]:
class my_dialect(csv.Dialect):
    lineterminator = '\n' # 行终止符
    delimiter =';'  # 定界符
    quotechar = '"' # 引号
    quoting = csv.QUOTE_MINIMAL # 引用

In [45]:
path_dialect = 'data/lesson-4/mydata.csv'
with open(path_dialect, 'w') as f:
    writer = csv.writer(f, dialect = my_dialect)
    writer.writerow(('one','two', 'three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [46]:
printdata(path_dialect)

one;two;three

1;2;3

4;5;6

7;8;9

## JSON

In [47]:
obj = '''
{"姓名": "张三",
 "住处": ["天朝", "挖煤国", "万恶的资本主义日不落帝国"],
 "宠物": null,
 "兄弟": [{"姓名": "李四", "年龄": 25, "宠物": "汪星人"},
              {"姓名": "王五", "年龄": 23, "宠物": "喵星人"}]
}
'''

In [48]:
import json
result = json.loads(obj)
result

{'姓名': '张三',
 '住处': ['天朝', '挖煤国', '万恶的资本主义日不落帝国'],
 '宠物': None,
 '兄弟': [{'姓名': '李四', '年龄': 25, '宠物': '汪星人'},
  {'姓名': '王五', '年龄': 23, '宠物': '喵星人'}]}

In [49]:
# ensure_ascii = False 适配中文
json.dumps(result, ensure_ascii=False)

'{"姓名": "张三", "住处": ["天朝", "挖煤国", "万恶的资本主义日不落帝国"], "宠物": null, "兄弟": [{"姓名": "李四", "年龄": 25, "宠物": "汪星人"}, {"姓名": "王五", "年龄": 23, "宠物": "喵星人"}]}'

In [50]:
result[u'兄弟']

[{'姓名': '李四', '年龄': 25, '宠物': '汪星人'}, {'姓名': '王五', '年龄': 23, '宠物': '喵星人'}]

In [51]:
result[u'兄弟'][0]

{'姓名': '李四', '年龄': 25, '宠物': '汪星人'}

In [52]:
DataFrame(result[u'兄弟'], columns=[u'姓名', u'年龄', u'宠物'])

   姓名  年龄   宠物
0  李四  25  汪星人
1  王五  23  喵星人

## XML 和 HTML

In [54]:
from lxml.html import parse
from urllib import request

parsed = parse(request.urlopen('https://ask.julyedu.com/'))

doc = parsed.getroot()
doc

In [55]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x1c1ef0d6590>,
 <Element a at 0x1c1ef0d6630>,
 <Element a at 0x1c1ef0d67c0>,
 <Element a at 0x1c1ef0d6810>,
 <Element a at 0x1c1ef0d6720>]

In [57]:
lnk = links[15]
print(lnk)
print(lnk.get('href'))
print(lnk.text_content())

<Element a at 0x1c1ef0d6590>
https://www.julyedu.com/LimitCourse/index
限时免费

In [58]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['https://www.epubit.com',
 'https://www.julyedu.com',
 'https://www.julyedu.com/help/index/about',
 'https://www.julyedu.com/help/index/join',
 'http://weibo.com/askjulyedu',
 'javascript:',
 'https://tianchi.aliyun.com',
 'https://cloud.tencent.com/developer/edu',
 'https://www.aidaxue.com/?ch=qyzx',
 'https://www.epubit.com']

In [59]:
spans = doc.findall('.//span')
len(spans)

25

In [60]:
def _unpack(spans):
    return [val.text_content() for val in spans]

In [61]:
contents = _unpack(spans)
for content in contents:
    print(content)

hot
赚奖学金


                                    购物车



                            赚奖学金


                            购物车
{{item.company_name}}

                        浏览数：{{item.view_count}}     |
                        评论数：{{item.comment_count}}  |
                        回复数：{{item.answer_count}}      |
                        关注数：{{item.focus_count}}

{{item.add_time}}
{{item.question_num}}
在线咨询
赚奖学金
APP下载
七月在线APP
微信公众号
扫码免费领课
返回顶部

						document.write(unescape("%3Cspan id='cnzz_stat_icon_1259748782'%3E%3C/span%3E%3Cscript src='" + "https://s11.cnzz.com/z_stat.php%3Fid%3D1259748782' type='text/javascript'%3E%3C/script%3E"));

关注我们 ：


客户端下载 ：
合作伙伴 ：
联系我们 ：
继续聊天

In [62]:
questions = doc.findall('.//h4')
len(questions)

0

In [63]:
contents = _unpack(questions)
for content in contents:
    print(content)

In [65]:
!head -21 Performance_MNR.xml

'head' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [66]:
from lxml import objectify

path = 'data/lesson-4/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()
root

In [67]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [68]:
perf = DataFrame(data)
perf

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8
...,...,...,...,...,...,...,...,...,...,...,...,...
643,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,8,Service Indicators,M,%,97,,97,
644,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,9,Service Indicators,M,%,97,,97,
645,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,10,Service Indicators,M,%,97,,97,
646,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,11,Service Indicators,M,%,97,,97,
647,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,12,Service Indicators,M,%,97,,97,

In [69]:
root.INDICATOR

## 二进制数据

In [70]:
frame = pd.read_csv(path1)
path_pickle = 'data/lesson-4/frame_pickle'
frame.to_pickle(path_pickle)

In [71]:
pd.read_pickle(path_pickle)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## HDF5

In [73]:
path_h5 = 'data/lesson-4/mydata.h5'
store = pd.HDFStore(path_h5)
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: data/lesson-4/mydata.h5

In [75]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [76]:
store['obj1_col']

0    1
1    5
2    9
Name: a, dtype: int64

In [78]:
store['obj1']['a']

0    1
1    5
2    9
Name: a, dtype: int64

In [80]:
store.close()
os.remove(path_h5)

## HTML 与 API 交互

In [82]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

# 数据库相关操作

## sqlite

In [83]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [84]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [85]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [87]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [89]:
zip(cursor.description)

In [90]:
DataFrame(rows)

             0           1     2  3
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [91]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

## MySQL

In [ ]:
#coding=utf-8
import MySQLdb

conn= MySQLdb.connect(
        host='localhost',
        port = 3306,
        user='root',
        passwd='123456',
        db ='test',
        )
cur = conn.cursor()

#创建数据表
#cur.execute("create table student(id int ,name varchar(20),class varchar(30),age varchar(10))")

#插入一条数据
#cur.execute("insert into student values('2','Tom','3 year 2 class','9')")


#修改查询条件的数据
#cur.execute("update student set class='3 year 1 class' where name = 'Tom'")

#删除查询条件的数据
#cur.execute("delete from student where age='9'")

cur.close()
conn.commit()
conn.close()

## Memcache

In [ ]:
#coding:utf8
import memcache

class MemcachedClient():
    ''' python memcached 客户端操作示例 '''

    def __init__(self, hostList):
        self.__mc = memcache.Client(hostList);

    def set(self, key, value):
        result = self.__mc.set("name", "NieYong")
        return result

    def get(self, key):
        name = self.__mc.get("name")
        return name

    def delete(self, key):
        result = self.__mc.delete("name")
        return result

if __name__ == '__main__':
    mc = MemcachedClient(["127.0.0.1:11511", "127.0.0.1:11512"])
    key = "name"
    result = mc.set(key, "NieYong")
    print "set的结果：", result
    name = mc.get(key)
    print "get的结果：", name
    result = mc.delete(key)
    print "delete的结果：", result

## MongoDB

In [ ]:
#encoding:utf=8  
import pymongo  
  
connection=pymongo.Connection('10.32.38.50',27017)  
  
#选择myblog库  
db=connection.myblog  
  
# 使用users集合  
collection=db.users  
  
# 添加单条数据到集合中  
user = {"name":"cui","age":"10"}  
collection.insert(user)  
  
#同时添加多条数据到集合中  
users=[{"name":"cui","age":"9"},{"name":"cui","age":"11"}]  
collection.insert(users)  
  
#查询单条记录  
print collection.find_one()  
  
#查询所有记录  
for data in collection.find():  
    print data  
  
#查询此集合中数据条数  
print collection.count()  
  
#简单参数查询  
for data in collection.find({"name":"1"}):  
    print data  
  
#使用find_one获取一条记录  
print collection.find_one({"name":"1"})  
  
  
#高级查询  
print "__________________________________________"  
print '''''collection.find({"age":{"$gt":"10"}})'''  
print "__________________________________________"  
for data in collection.find({"age":{"$gt":"10"}}).sort("age"):  
    print data  
  
# 查看db下的所有集合  
print db.collection_names()

# requests 与 BeautifulSoup

## requests.get

In [92]:
# 请求
import requests
result = requests.get('http://news.qq.com/')

In [93]:
# 状态码
result.status_code

200

In [94]:
# 200表示正常返回结果，其余的数字(比如404，500等)表示请求未拿到正常返回结果。
def get_status(url):
    r = requests.get(url, allow_redirects = False)
    return r.status_code

print(get_status('http://www.zhidaow.com'))
#200
print(get_status('http://www.zhidaow.com/hi404/'))
#404
print(get_status('http://www.baidu.com/link?url=QeTRFOS7TuUQRppa0wlTJJr6FfIYI1DJprJukx4Qy0XnsDO_s9baoO8u1wvjxgqN'))
#302

200
404
302

In [95]:
# 编码
# 最终目的是获取显示在网页上的内容，文本字符串有不同的编码格式
result.encoding

'GB2312'

In [96]:
content = result.content
content[:10000].decode('GB2312')

'<!DOCTYPE html><html lang="zh-CN"><head><meta charset="GB2312"><meta http-equiv="X-UA-Compatible" content="IE=Edge"/><title>优质资讯推荐_腾讯网</title><meta name="theme-color" content="#ffffff"/><meta name="viewport" content="width=device-width,initial-scale=1"/><link rel="shortcut icon" href="//mat1.gtimg.com/www/icon/favicon2.ico"/><meta content="资讯,新闻,财经,房产,视频,NBA,科技,腾讯网,腾讯,QQ,Tencent" name="Keywords"><meta name="description" content="腾讯网从2003年创立至今，已经成为集新闻信息，区域垂直生活服务、社会化媒体资讯和产品为一体的互联网媒体平台。腾讯网下设新闻、科技、财经、娱乐、体育、汽车、时尚等多个频道，充分满足用户对不同类型资讯的需求。同时专注不同领域内容，打造精品栏目，并顺应技术发展趋势，推出网络直播等创新形式，改变了用户获取资讯的方式和习惯。"/><!--[if lte IE 8]><meta http-equiv="refresh" content="0; url=https://new.qq.com/upgrade.htm"><![endif]-->\r\n<!-- <meta name="sogou_site_verification" content="SYWy6ahy7s"/> -->\r\n<meta name="baidu-site-verification" content="jJeIJ5X7pP" />\r\n<link rel="shortcut icon" href="//mat1.gtimg.com/www/icon/favicon2.ico" /><link rel="dns-prefetch" href="//mat1.gtimg.com"><link rel="dns-prefetch" href="//imgcache.qq.com"><link rel="dns-prefetch" href="//img1.gtimg.com"><link rel="dns-prefetch" href="//puui.qpic.cn/"><link rel="dns-prefetch" href="//trace.qq.com"><link rel="dns-prefetch" href="//btrace.qq.com"><link rel="dns-prefetch" href="//pacaio.match.qq.com"><link rel="dns-prefetch" href="//openapi.inews.qq.com">\r\n<script src="//js.aq.qq.com/js/aq_common.js"></script><script>(function(){var bp=document.createElement(\'script\');var curProtocol=window.location.protocol.split(\':\')[0];if(curProtocol===\'https\'){bp.src=\'https://zz.bdstatic.com/linksubmit/push.js\'}else{bp.src=\'http://push.zhanzhang.baidu.com/push.js\'}var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bp,s)})();</script><!--[if !IE]>|xGv00|965fdc4fa14d6c737a6f8a76ecb960ae<![endif]-->\r\n<link rel="stylesheet" href="//vm.gtimg.cn/tencentvideo/txp/style/txp_desktop.css" />\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/configF2017/5a9cf828.js" charset="utf-8"></script>\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/test2017/node_modules/babel-polyfill/dist/polyfill.min.js" charset="utf-8"></script>\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/configF2017/5bfb5a6a.js" charset="utf-8"></script>\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/configF2017/5df6e3b3.js" charset="utf-8"></script>\r\n<script>\r\nvar serverDay = \'2020年03月21日\';\r\nvar serverWeek =\'6\';\r\n(function() {\r\n\r\n    // 广告依赖变量添加\r\n    var pathname = location.pathname;\r\n    window.V_PAGE_INFO = \'\';\r\n    if (pathname.indexOf(\'/ch/\') !== -1 || pathname === \'/\') {\r\n        window.V_PAGE_INFO = \'index\';\r\n    } else if (pathname.indexOf(\'/ch2/\') !== -1) {\r\n        window.V_PAGE_INFO = \'subchannel\';\r\n    }\r\n    // 享看视频\r\n    if (window.location.hash.indexOf(\'#/omv\') !== -1) {\r\n        window.location.href = \'/upgrade.htm\';\r\n    }\r\n    // 垂直化频道\r\n    window.siteRightArr = [\'digi\', \'finance\', \'ent\', \'sports\', \'milite\', \'world\', \'tech\', \'auto\', \'fashion\', \'games\', \'house\', \'cul\', \'finance_stock\', \'emotion\', \'health\', \'visit\', \'food\', \'baby\', \'pet\', \'history\', \'society\', \'kepu\', \'edu\', \'photo\', \'comic\',\'fx\',\'cul_daoism\',\'cul_ru\',\'finance_licai\', \'astro\'];\r\n})();\r\n</script>\r\n<style>\r\n.sidebar .worldcup-mod{display:none;}\r\n/* 2019两会 */\r\n.ch_lianghui .qq_content{\r\n  width: 700px;\r\n  margin: 0 auto;\r\n}\r\n.ch_lianghui .qq_content .cluster,\r\n.ch_lianghui .qq_content .sidebar{\r\n  display: none;\r\n}\r\n#new2019101100390900_2 .detail h3{\r\n    font-weight: bold!important;\r\n}\r\n</style><!--[if !IE]>|xGv00|52b29e8dffca39700112d13cc89e9780<![endif]--><link href="//mat1.gtimg.com/pingjs/ext2020/newom/build/static/css/index.css" rel="stylesheet"></head><body><div class="qq_channel"><div id="TopNav"></div><div id="TopAd"></div><div id="skin-con" class="skin-con"></div><div class="qq_content cf slide-wrap"><div class="cluster fl"><div id="Left"></div></div><div class="main fl"><div id="List"></div></div><div class="sidebar fr"><div id="Right"></div></div></div><div id="Copyright"></div><div id="GoTop"></div></div><script src="//mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/dc2017/dist/m_tips/tips.js" async></script>\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/dc2017/publicjs/m/ping.js" charset="gbk"></script>\r\n<script src="//mat1.gtimg.com/pingjs/ext2020/2018/js/check-https-content.js"></script>\r\n<script>\r\nif(typeof(pgvMain) == \'function\'){pgvMain();}\r\n</script>\r\n<script type="text/javascript" src="//imgcache.qq.com/qzone/biz/comm/js/qbs.js"></script>\n<script type="text/javascript">\nvar TIME_BEFORE_LOAD_CRYSTAL = (new Date).getTime();\n</script>\n<script src="//ra.gtimg.com/web/crystal/v4.7Beta05Build050/crystal-min.js" id="l_qq_com" arguments="{\'extension_js_src\':\'//ra.gtimg.com/web/crystal/v4.7Beta05Build050/crystal_ext-min.js\', \'jsProfileOpen\':\'false\', \'mo_page_ratio\':\'0.01\', \'mo_ping_ratio\':\'0.01\', \'mo_ping_script\':\'//ra.gtimg.com/sc/mo_ping-min.js\'}"></script>\n<script type="text/javascript">\nif(typeof crystal === \'undefined\' && Math.random() <= 1) {\n  (function() {\n    var TIME_AFTER_LOAD_CRYSTAL = (new Date).getTime();\n    var img = new Image(1,1);\n    img.src = "//dp3.qq.com/qqcom/?adb=1&dm=new&err=1002&blockjs="+(TIME_AFTER_LOAD_CRYSTAL-TIME_BEFORE_LOAD_CRYSTAL);\n  })();\n}\n</script>\n<style>.absolute{position:absolute;}</style>\n<!--[if !IE]>|xGv00|bfa6be71716f6329ed6738978b6c1e2d<![endif]-->\r\n\r\n<script>\r\nvar _mtac = {};\r\n(function() {\r\n    var mta = document.createElement("script");\r\n    mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.2";\r\n    mta.setAttribute("name", "MTAH5");\r\n    mta.setAttribute("sid", "500651042");\r\n    var s = document.getElementsByTagName("script")[0];\r\n    s.parentNode.insertBefore(mta, s);\r\n})();\r\n</script><!--[if !IE]>|xGv00|3f33b9921201aaae8080bb9e9215804d<![endif]--><script type="text/javascript" src="//mat1.gtimg.com/pingjs/ext2020/newom/build/static/js/index.js"></script></body></html><!--[if !IE]>|xGv00|2e113aab1645b68afda964c7ca1e5e8e<![endif]-->\r\n<!-- index --><!--[if !IE]>|xGv00|d84c984881bc8fe599892461959e1d5c<![endif]-->'

## soup.find_all()

BeautifulSoup使用方法可以参考[它的中文文档](https://www.crummy.com/software/BeautifulSoup/bs4/doc.zh/)

In [98]:
import warnings
warnings.filterwarnings("ignore")

from bs4 import BeautifulSoup
soup = BeautifulSoup(content, fromEncoding="GB2312") #注意这个地方
samples = soup("link")
samples[0]

In [102]:
# 获取 link 标签中的文本内容
# print(samples[0].string.encode('utf8'))
samples[0].string

## URL 传参

In [103]:
payload = {'wd': '七月在线数据分析班', 'rn': '10'}
r = requests.get("http://www.baidu.com/s", params=payload)
r.url

'http://www.baidu.com/s?wd=%E4%B8%83%E6%9C%88%E5%9C%A8%E7%BA%BF%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90%E7%8F%AD&rn=10'

## 超时时间

In [107]:
requests.get('http://github.com', timeout=0.001)

## 代理

In [111]:
import requests

proxies = {
#   "http": "http://10.10.1.10:3128",
    "http": "http://175.44.151.143:9000",
    "https": "http://10.10.1.10:1080",
}

requests.get("http://www.zhidaow.com", proxies=proxies)

ProxyError: HTTPConnectionPool(host='175.44.151.143', port=9000): Max retries exceeded with url: http://www.zhidaow.com/ (Caused by ProxyError('Cannot connect to proxy.', NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000001C1EE8CAA00>: Failed to establish a new connection: [WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。')))

In [112]:
# 需要账户和密码的代理
proxies = {
    "http": "http://user:pass@10.10.1.10:3128/",
}

## 请求头内容

In [113]:
r.request.headers

{'User-Agent': 'python-requests/2.23.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

## 模拟登陆

In [ ]:
# 有很多网站需要我们登录之后才能完成数据的抓取
s = requests.session()
data = {'user':'用户名','passdw':'密码'}
#post 换成登录的地址，
res=s.post('http://www.xxx.net/index.php?action=login',data);
#换成抓取的地址
s.get('http://www.xxx.net/archives/155/');

# 链家网案例

In [1]:
import requests
import time
from bs4 import BeautifulSoup

## 抓取页面

开始抓取前应该了解一下目标网站URL结构
链家网的二手房列表页面共有100个，URL结构为http://bj.lianjia.com/ershoufang/pg9/ 其中

- bj表示城市
- /ershoufang/是频道名称
- pg9是页面码。

我们要抓取的是北京的二手房频道，所以前面的部分不会变，属于固定部分，后面的页面码需要在1-100间变化，属于可变部分。将URL分为两部分，前面的固定部分赋值给url，后面的可变部分使用for循环遍历页面。

In [2]:
#设置列表页URL的固定部分
url='http://bj.lianjia.com/ershoufang/'
#设置页面页的可变部分
page=('pg')

最好在http请求中设置一个头部信息，否则很容易被封ip。头部信息网上有很多现成的，也可以使用httpwatch等工具来查看

In [3]:
#设置请求头部信息
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11',
'Accept':'text/html;q=0.9,*/*;q=0.8',
'Accept-Charset':'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
'Accept-Encoding':'gzip',
'Connection':'close',
'Referer':'http://www.baidu.com/link?url=_andhfsjjjKRgEWkj7i9cFmYYGsisrnm2A-TN3XZDQXxvGsM9k9ZZSnikW2Yds4s&amp;amp;wd=&amp;amp;eqid=c3435a7d00146bd600000003582bfd1f'
}

使用for循环生成1-100的数字，转化格式后与前面的URL固定部分拼成要抓取的URL。这里我们设置每两个页面间隔0.5秒。抓取到的页面保存在html中

In [4]:
#循环抓取列表页信息
for i in range(1,2):
     if i == 1:
          i=str(i)
          a=(url+page+i+'/')
          r=requests.get(url=a,headers=headers)
          html=r.content
     else:
          i=str(i)
          a=(url+page+i+'/')
          r=requests.get(url=a,headers=headers)
          html2=r.content
          html = html + html2
     #每次间隔1秒
     time.sleep(1)

ConnectionError: HTTPConnectionPool(host='bj.lianjia.com', port=80): Max retries exceeded with url: /ershoufang/pg1/ (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000022ACC1FB7C0>: Failed to establish a new connection: [WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。'))

## 页面解析

In [226]:
#解析抓取的页面内容
lj=BeautifulSoup(html,'html.parser')

完成页面解析后就可以对页面中的关键信息进行提取了。下面我们分别对房源的总价，房源信息和关注度三部分进行提取。 把页面div标签中class=priceInfo的部分提取出来，并使用for循环将其中每个房源的总价数据存在tp中。

In [228]:
#提取房源总价
price=lj.find_all('div','priceInfo')
tp=[]
for a in price:
    totalPrice=a.span.string
    tp.append(totalPrice)
    
tp

['459',
 '265',
 '450',
 '278',
 '360',
 '430',
 '566',
 '330',
 '820',
 '550',
 '265',
 '285',
 '305',
 '420',
 '408',
 '375',
 '568',
 '675',
 '720',
 '599',
 '566',
 '460',
 '375',
 '510',
 '575',
 '370',
 '425',
 '400',
 '345',
 '378']

In [231]:
#提取房源信息
houseInfo=lj.find_all('div',attrs={'class':'houseInfo'})
 
hi=[]
for b in houseInfo:
    house=b.get_text()
    hi.append(house)
    
for item in hi:
    print(item)

佰嘉城 /3室1厅/117.97平米/南 西 北/简装/无电梯
御景春天 /1室1厅/48.31平米/东/简装/有电梯
龙腾苑六区 /2室1厅/100.74平米/南 北/简装/无电梯
加州水郡三期 /2室1厅/87.25平米/南 西 北/精装/有电梯
龙华园 /2室1厅/70.48平米/南 北/简装/无电梯
朝阳新城六区 /2室1厅/84.62平米/南/简装/有电梯
兴隆家园 /2室1厅/107.9平米/东 西/其他/有电梯
御景春天 /1室1厅/63.01平米/南 西 北/精装/有电梯
雅世合金公寓 /2室1厅/90.28平米/南 北/精装/有电梯
鸿业兴园一区 /2室1厅/92.91平米/南 西 北/简装/有电梯
晓月苑五里 /1室1厅/61.48平米/西南/精装/有电梯
碧桂园小区A区 /2室1厅/91.98平米/南 北/其他/无电梯
康静里 /2室1厅/58.99平米/南 北/简装/无电梯
龙华园 /3室1厅/95.57平米/南 北/简装/无电梯
万年花城回迁 /2室1厅/72.74平米/东南 北/简装/有电梯
东泽园 /2室1厅/74.76平米/南 北/精装/有电梯
玉海园五里 /2室1厅/80.39平米/东 西/简装/无电梯
翡翠城五期 /3室2厅/114.44平米/南 北/精装/有电梯
鸿业兴园一区 /3室2厅/115.05平米/西南/其他/有电梯
新龙城 /3室1厅/113.19平米/南 北/精装/有电梯
惠新西街甲17号院 /2室1厅/80.93平米/南/简装/无电梯
鸿业兴园二区 /2室1厅/90.78平米/东 北/简装/有电梯
晓月新苑 /2室1厅/96.77平米/南 北/简装/有电梯
三环新城7号院 /2室1厅/99.94平米/南 北/精装/有电梯
三环新城7号院 /2室1厅/100.26平米/南/精装/有电梯
东泽园 /2室1厅/75.23平米/南/精装/有电梯
炫特嘉园三期 /1室1厅/68.87平米/南 北/简装/有电梯
怡海花园富泽园 /1室1厅/70.11平米/西南/简装/有电梯
新龙城 /1室1厅/56.77平米/北/简装/有电梯
万润家园 /2室1厅/66.39平米/北/精装/有电梯

In [232]:
#提取房源关注度
followInfo=lj.find_all('div',attrs={'class':'followInfo'})
 
fi=[]
for c in followInfo:
    follow=c.get_text()
    fi.append(follow)
    
for item in fi:
    print(item)

82人关注/35次带看VR房源房本满五年随时看房459万单价38909元/平米
144人关注/39次带看近地铁VR房源房本满五年随时看房265万单价54855元/平米
57人关注/43次带看近地铁VR房源房本满五年随时看房450万单价44670元/平米
92人关注/40次带看VR房源房本满五年随时看房278万单价31863元/平米
43人关注/36次带看VR房源房本满两年随时看房360万单价51079元/平米
6人关注/21次带看VR房源房本满五年随时看房430万单价50816元/平米
47人关注/25次带看近地铁VR房源房本满五年随时看房566万单价52456元/平米
57人关注/20次带看近地铁VR房源房本满五年随时看房330万单价52373元/平米
91人关注/22次带看VR房源房本满五年随时看房820万单价90829元/平米
25人关注/21次带看VR房源房本满五年随时看房550万单价59198元/平米
52人关注/25次带看VR房源房本满五年随时看房265万单价43104元/平米
87人关注/26次带看VR房源房本满五年285万单价30985元/平米
57人关注/21次带看VR房源房本满五年305万单价51704元/平米
49人关注/20次带看VR房源房本满五年420万单价43947元/平米
59人关注/33次带看近地铁VR房源房本满五年随时看房408万单价56091元/平米
49人关注/35次带看VR房源房本满五年随时看房375万单价50161元/平米
356人关注/16次带看VR房源房本满五年随时看房568万单价70656元/平米
80人关注/8次带看VR房源房本满五年随时看房675万单价58983元/平米
39人关注/26次带看近地铁VR房源房本满五年随时看房720万单价62582元/平米
22848人关注/24次带看近地铁VR房源房本满五年随时看房599万单价52920元/平米
180人关注/16次带看VR房源房本满五年随时看房566万单价69937元/平米
41人关注/22次带看VR房源房本满五年随时看房460万单价50672元/平米
25人关注/17次带看VR房源房本满五年随时看房375万单价38752元/平米
209人关注/44次带看近地铁VR房源房本满五年510万单价51031元/平米
50人关注/32次带看近地铁VR房源房本满五年575万单价57351元/平米
91人关注/33次带看VR房源房本满五年370万单价49183元/平米
132人关注/26次带看近地铁VR房源房本满五年随时看房425万单价61711元/平米
62人关注/21次带看近地铁VR房源房本满五年随时看房400万单价57054元/平米
26人关注/31次带看近地铁VR房源房本满五年随时看房345万单价60772元/平米
123人关注/24次带看VR房源房本满五年378万单价56937元/平米

## 导入 pandas

In [233]:
#导入pandas库
import pandas as pd
#创建数据表
house=pd.DataFrame({'totalprice':tp,'houseinfo':hi,'followinfo':fi})
#查看数据表的内容
house.head()

,totalprice,houseinfo,followinfo
0,459,佰嘉城 /3室1厅/117.97平米/南 西 北/简装/无电梯,82人关注/35次带看VR房源房本满五年随时看房459万单价38909元/平米
1,265,御景春天 /1室1厅/48.31平米/东/简装/有电梯,144人关注/39次带看近地铁VR房源房本满五年随时看房265万单价54855元/平米
2,450,龙腾苑六区 /2室1厅/100.74平米/南 北/简装/无电梯,57人关注/43次带看近地铁VR房源房本满五年随时看房450万单价44670元/平米
3,278,加州水郡三期 /2室1厅/87.25平米/南 西 北/精装/有电梯,92人关注/40次带看VR房源房本满五年随时看房278万单价31863元/平米
4,360,龙华园 /2室1厅/70.48平米/南 北/简装/无电梯,43人关注/36次带看VR房源房本满两年随时看房360万单价51079元/平米

In [236]:
#对房源信息进行分列
houseinfo_split = pd.DataFrame((x.split('/') for x in house.houseinfo),index=house.index,columns=['xiaoqu','huxing','mianji','chaoxiang','zhuangxiu','dianti'])
#查看分列结果
houseinfo_split.head()

    xiaoqu huxing    mianji chaoxiang zhuangxiu dianti
0     佰嘉城    3室1厅  117.97平米     南 西 北        简装    无电梯
1    御景春天    1室1厅   48.31平米         东        简装    有电梯
2   龙腾苑六区    2室1厅  100.74平米       南 北        简装    无电梯
3  加州水郡三期    2室1厅   87.25平米     南 西 北        精装    有电梯
4     龙华园    2室1厅   70.48平米       南 北        简装    无电梯

In [238]:
#将分列结果拼接回原数据表
house=pd.merge(house,houseinfo_split,right_index=True, left_index=True)
house.head()

,totalprice,houseinfo,followinfo,xiaoqu_x,huxing_x,mianji_x,chaoxiang_x,zhuangxiu_x,dianti_x,xiaoqu_y,huxing_y,mianji_y,chaoxiang_y,zhuangxiu_y,dianti_y
0,459,佰嘉城 /3室1厅/117.97平米/南 西 北/简装/无电梯,82人关注/35次带看VR房源房本满五年随时看房459万单价38909元/平米,佰嘉城,3室1厅,117.97平米,南 西 北,简装,无电梯,佰嘉城,3室1厅,117.97平米,南 西 北,简装,无电梯
1,265,御景春天 /1室1厅/48.31平米/东/简装/有电梯,144人关注/39次带看近地铁VR房源房本满五年随时看房265万单价54855元/平米,御景春天,1室1厅,48.31平米,东,简装,有电梯,御景春天,1室1厅,48.31平米,东,简装,有电梯
2,450,龙腾苑六区 /2室1厅/100.74平米/南 北/简装/无电梯,57人关注/43次带看近地铁VR房源房本满五年随时看房450万单价44670元/平米,龙腾苑六区,2室1厅,100.74平米,南 北,简装,无电梯,龙腾苑六区,2室1厅,100.74平米,南 北,简装,无电梯
3,278,加州水郡三期 /2室1厅/87.25平米/南 西 北/精装/有电梯,92人关注/40次带看VR房源房本满五年随时看房278万单价31863元/平米,加州水郡三期,2室1厅,87.25平米,南 西 北,精装,有电梯,加州水郡三期,2室1厅,87.25平米,南 西 北,精装,有电梯
4,360,龙华园 /2室1厅/70.48平米/南 北/简装/无电梯,43人关注/36次带看VR房源房本满两年随时看房360万单价51079元/平米,龙华园,2室1厅,70.48平米,南 北,简装,无电梯,龙华园,2室1厅,70.48平米,南 北,简装,无电梯

In [240]:
#对房源关注度进行分列
followinfo_split = pd.DataFrame((x.split('/') for x in house.followinfo),index=house.index,columns=['guanzhu','daikan','fabu'])
#将分列后的关注度信息拼接回原数据表
house=pd.merge(house,followinfo_split,right_index=True, left_index=True)
house.head()

,totalprice,houseinfo,followinfo,xiaoqu_x,huxing_x,mianji_x,chaoxiang_x,zhuangxiu_x,dianti_x,xiaoqu_y,...,mianji_y,chaoxiang_y,zhuangxiu_y,dianti_y,guanzhu_x,daikan_x,fabu_x,guanzhu_y,daikan_y,fabu_y
0,459,佰嘉城 /3室1厅/117.97平米/南 西 北/简装/无电梯,82人关注/35次带看VR房源房本满五年随时看房459万单价38909元/平米,佰嘉城,3室1厅,117.97平米,南 西 北,简装,无电梯,佰嘉城,...,117.97平米,南 西 北,简装,无电梯,82人关注,35次带看VR房源房本满五年随时看房459万单价38909元,平米,82人关注,35次带看VR房源房本满五年随时看房459万单价38909元,平米
1,265,御景春天 /1室1厅/48.31平米/东/简装/有电梯,144人关注/39次带看近地铁VR房源房本满五年随时看房265万单价54855元/平米,御景春天,1室1厅,48.31平米,东,简装,有电梯,御景春天,...,48.31平米,东,简装,有电梯,144人关注,39次带看近地铁VR房源房本满五年随时看房265万单价54855元,平米,144人关注,39次带看近地铁VR房源房本满五年随时看房265万单价54855元,平米
2,450,龙腾苑六区 /2室1厅/100.74平米/南 北/简装/无电梯,57人关注/43次带看近地铁VR房源房本满五年随时看房450万单价44670元/平米,龙腾苑六区,2室1厅,100.74平米,南 北,简装,无电梯,龙腾苑六区,...,100.74平米,南 北,简装,无电梯,57人关注,43次带看近地铁VR房源房本满五年随时看房450万单价44670元,平米,57人关注,43次带看近地铁VR房源房本满五年随时看房450万单价44670元,平米
3,278,加州水郡三期 /2室1厅/87.25平米/南 西 北/精装/有电梯,92人关注/40次带看VR房源房本满五年随时看房278万单价31863元/平米,加州水郡三期,2室1厅,87.25平米,南 西 北,精装,有电梯,加州水郡三期,...,87.25平米,南 西 北,精装,有电梯,92人关注,40次带看VR房源房本满五年随时看房278万单价31863元,平米,92人关注,40次带看VR房源房本满五年随时看房278万单价31863元,平米
4,360,龙华园 /2室1厅/70.48平米/南 北/简装/无电梯,43人关注/36次带看VR房源房本满两年随时看房360万单价51079元/平米,龙华园,2室1厅,70.48平米,南 北,简装,无电梯,龙华园,...,70.48平米,南 北,简装,无电梯,43人关注,36次带看VR房源房本满两年随时看房360万单价51079元,平米,43人关注,36次带看VR房源房本满两年随时看房360万单价51079元,平米